.topSelling_box h3 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.topSelling_box h3:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    height: 3px;
    background: #f0f0f0;
}

.topSelling_box h3:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 20%;
    height: 3px;
    background: #93e3be;
    z-index: 10;
}

.topSelling_box .items {
    padding: 20px 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.topSelling_box .items .img {
    width: 30%;
    background: #fafafa;
}

.topSelling_box .items:hover {
    transform: translateY(-10px);
}

.topSelling_box .items .info {
    width: 70%;
}

.topSelling_box .items .info h4 {
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 10px;
}

.topSelling_box .items .info a :hover {
    color: #1ae184;
}

.topSelling_box .items .info a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

@media (max-width: 768px) {
    .topSelling_box .items {
        display: flex;
        flex-direction: column;
    }
    .topSelling_box .items .img {
        width: 100%;
    }
    .topSelling_box .items .info {
        width: 100%;
    }
    .topSelling_box .items .info h4 {
        font-size: 12px;
    }
    .topSelling_box .items .info p {
        font-size: 10px;
    }
    .topSelling_box .items .info a {
        font-size: 10px;
    }
    .topSelling_box .items .info .price {
        font-size: 12px;
    }
    .topSelling_box .items .info .oldPrice {
        font-size: 10px;
    }
    .topSelling_box .items .info .rating {
        font-size: 10px;
    }
}